/*                               */
/*     Mado CSS version V1.6     */
/*                               */

/* Mado Theme for Misskey, however not exactly the same styling format. */
/* Some elements are compromised for Misskey theming design. */

/* Todo: return to :has() when firefox applies it, also to differentiate DM(Direct) post */



/* quote background */
.xD2mX.xCFgx{
	background:linear-gradient(to bottom, var(--accentedBg), transparent);
}

/* renote background */
.xBwhh, .x22gY, .xBwhh+.x5yeR{
	background:var(--navBg);
}
@container (max-width: 480px){
	.x22gY{
		padding-top:4px!important;
		margin-top:0!important;
	}
}

/* direct message background color (without using :has()) */
span[title="ダイレクト"]{
	position: relative;
}
span[title="ダイレクト"]:before{
	content:"";
	width:1000px;
	height:1000px;
	background:var(--accent);
	position:absolute;
	top:-50px;
	right:-50px;
	z-index:-1;
	opacity:0.2;
}

/* move note action buttons(reply, renote, etc.) to the bottom, to not block the time&date link */
.xcSej.xj38T:hover .xhAPG {
	bottom:12px!important;
	top:unset!important;
}




/* profile field custom design */
.fields{
	padding-block:0!important;
}
.field{
	margin-bottom:0!important;
}
.field .name{
	padding-block:4px;
}
.field .value{
	padding-block:4px;
	padding-left:16px;
	border-left:1px solid var(--divider);
}
.field:first-child :is(.name,.value){
	padding-block:16px 4px;
}
.field:last-child :is(.name,.value){
	padding-block:4px 16px;
}
.field:first-child:last-child :is(.name,.value){
	padding-block:16px;
}





/* left navigation buttons */
.xryhL.xhesn .xRtfX{
	/* box-shadow:0 1px 3px var(--shadow); */
	border-right:1px solid var(--divider);
}
.xryhL.xhesn .x6KaV{
	/* line-height:2.6rem!important; */
	margin-bottom:3px;
}
.xryhL.xhesn .x6KaV:before{
	border-radius:4px!important;
}
.xryhL.xhesn .xClhx{
	margin:12px 0!important;
}
.xryhL.xhesn .xmctl ._button.xplJN{
	margin-bottom:12px!important;
}
.xryhL.xhesn .xmctl ._button.xplJN::before{
	border-radius:4px!important;
}




/* left navigation buttons icon-only */
.xryhL.xghTi.xhesn{
	flex:0 0 60px!important;
	width:60px!important;
}
.xryhL.xghTi.xhesn .xRtfX{
	width:60px!important;
	border-right:1px solid var(--divider);
}
.xryhL.xghTi.xhesn .x6KaV{
	padding:13px 0!important;
}
.xryhL.xghTi.xhesn .xClhx{
	margin:8px 0!important;
	width:100%!important;
}
.xryhL.xghTi.xhesn .xmctl ._button.xplJN{
	margin-bottom:12px!important;
}
.xryhL.xghTi.xhesn .xmctl ._button.xplJN::before{
	width:70%!important;
	border-radius:4px!important;
}



/* panel shadow & outline */
.xjptQ,.x93hF{ /* removing overflow-clip to reveal shadow, not using :has() because of firefox */
	overflow:unset!important;
}
._panel,
.x884h, /* favourite page */
.xzSZs.xwehs, /* timeline panel, not using .xjptQ because of "separating posts" option */
.xzSZs:not(.xwehs) > .xqbRq .x3762,
.fcuexfpr > .note > .main > .note > .note[data-v-f5bd3ec4], /* popup notes */
.xcMdN{ /* theme editor panels */
	box-shadow:0 1px 3px var(--shadow);
	border:1px solid var(--divider);
	
	/* bandage fix for border radius clip */
	border-radius:var(--radius);
	overflow:clip;
}

/* shadow on popup */
._shadow,
.xcSej.xj38T:hover .xhAPG{ /* when action buttons only appear on hover only */
	box-shadow:0 2px 7px var(--shadow)!important;
	border:1px solid var(--divider);
}


/* account popup */
/* container */
.x7rzo{
	padding:0!important;
}
/* button */
.xunvs{
	padding:8px 16px!important;
	line-height:24px!important;
	display:flex!important;
	align-items:center;
}
.xunvs::before{
	width:100%!important;
	border-radius:0!important;
}
/* button icon */
.xunvs .xw5W9{
	width:24px!important;
	height:24px!important;
	margin-bottom:3px;
}
/* divider */
.xzo34{
	margin:0!important;
}




/* New Note Emoji Window Size */
.omfetrab.asWindow[data-v-9aafcf61]{
	--columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.xpAOc{
	width:500px!important;
	height:600px!important;
}
